/*===================================================
	Title: magellan.css
	Authors: Tiffany
	Description: Describes the layout of the page
	Last modified: 5/1/2018
=====================================================*/

html,body {
  font-family: 'Garamond', Helvetica, sans-serif;
  font-size: 16.5px;
  position: absolute;
  width: 960px;
  height: 750px;
  border: 2px solid black;
}

.simbox {
  width: 700px;
  height: 700px;
  position: relative;
  margin: 12px;
  margin-left: 240px;
  padding-top: 50px;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  z-index: 2;
}

.content h6{
	position: absolute;
	margin-top: -40px;
	padding: 0;
	font-size: 16.5px;
	background-color: white;
	color: black;
	width: 100%;
	height: 30px;
	z-index: 100;
	display: block;; /* decide later if i want to use this */
}


/*
.hoverimg a { position:relative; }
.hoverimg a span { position:absolute; display:none; z-index:99; }
.hoverimg a:hover span { display:block; }
*/
.simbox a{
	border: none;
	z-index: 100;
}
.simbox a:not(.no-hover):hover {
	border: 2px solid red;
	z-index: 100;
}

/* ========== TOGGGLE TEST ========== */
li.toggletest a{
	font-style: italic;
	font-size: 16px;
}

.toggleactive{
	border: 2px solid red;
	border-radius: 10px;
	height: 30px;
	margin: 0; 
}
.toggleactive a.no-hover{
	margin: 0;
}
.no-hover {
	cursor: default;
	z-index: 100;
}

/* ====================================*/
/* setting up carousel elements: change opacity of current image */ 
/* what 's the purpose of keeping this here???
.active {
  height: 512px;
}
*/
.active li {
  position: absolute;
  display: none;
  z-index: 0;
}
.active li.current {
  display: block;
  z-index: 5;
}
.li img {
  width: 100%;
  height: 100%;
  display: block; /* do i need this?*/
  margin: auto;
}



/* ===========	NAVBAR	================ */
.navbar h2{
	color: white;
	margin-left: 2px;
}
.navbar h4{
	color: grey;
	margin-left: 2px;
	margin-top: 200px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0; 
  margin: 0;
  padding: 0;
  z-index: 100;
}
/* CSS used here will be applied after bootstrap.css */
.navbar-collapse {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-fixed-left {
  width: 220px;
  position: fixed;
  border-radius: 0;
  height: 700px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 170px;
  margin-top: -15px;
  margin-bottom: -20px;
}

.navbar-fixed-left + .container {
  padding-left: 220px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: inherit;
}

.navbar-nav > li > a {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top:8px !important; 
	padding-bottom:8px !important;
}

/*.navbar {min-height:32px !important}
*/

/* ============= CONTROLS =============== */ 
.controls {
	position: relative;
	height: 120px;
	margin-left: 220px;
	display: block;
}
.controls img{
	width: 300px;
	height: auto;
	margin-top: -100px;
	margin-left: 220px;
}
.controls a{
	border: none;
	display: block;
	height: 120px;
	z-index: 100;
}
.controls :not(.no-hover) a:hover {
	left: 220px;
	border: 2px solid red;
}

/* ================ MISC ================== */
.congrats {
	width: 635px;
	height: 508px;
	text-align: center;
	vertical-align: middle;
}

.congrats h4 {
	position: relative;
	float: left;
	left: 30%;
	top: 40%;
	color: black;
	cursor: none;
}

