/*===================================================
	Title: magellan_v3.css
	Authors: Tiffany
	Description: Describes the layout of the page
	Last modified: 2/24/2018
=====================================================*/

.simbox {
  width: 635px;
  height: 518px;
  position: relative;
  border: 25px solid black;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  z-index: 2;
}

/* setting up carousel elements: change opacity of current image */ 
/* what 's the purpose of keeping this here???
.active {
  height: 512px;
}
*/
.active li {
  position: absolute;
  display: none;
  z-index: 0;
}
.active li.current {
  display: block;
  z-index: 100;
}
.li img {
  width: 100%;
  height: 100%;
  display: block; /* do i need this?*/
  margin: auto;
}

/* setting up buttons: some security precautions i dont understand */
.carouselbox button {
  border: none;
  visibility: hidden;
}
.active button {
  visibility: visible;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}

.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: absolute;
}

